<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Admin Panel</h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<div class="card">

<h3>Add Question</h3>

<form method="POST" action="/add_question">
    <input type="number" name="exam_id" placeholder="Exam ID"><br><br>
    <input type="text" name="question" placeholder="Question"><br><br>
    <input type="text" name="option1" placeholder="Option 1"><br><br>
    <input type="text" name="option2" placeholder="Option 2"><br><br>
    <input type="text" name="option3" placeholder="Option 3"><br><br>
    <input type="text" name="option4" placeholder="Option 4"><br><br>
    <input type="text" name="correct" placeholder="Correct Answer"><br><br>

    <button class="btn btn-success">Add</button>
</form>

<hr>

<h3>AI Generator</h3>

<form method="POST" action="/generate">
    <input type="text" name="topic" placeholder="Topic"><br><br>
    <button class="btn btn-primary">Generate</button>
</form>

</div>

</div>

</body>
</html>
