<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Exam System</h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/history">History</a>
    {% if session['user'] == 'admin' %}
    <a href="/admin">Admin</a>
    {% endif %}
    <a href="/logout">Logout</a>
</div>

<div class="main">

<h2>Welcome, {{ session['user'] }}</h2>

<div class="card">
    <h3>Select Exam</h3>

    <a href="/test/1"><button class="btn btn-primary">Java Test</button></a>
    <a href="/test/2"><button class="btn btn-success">Aptitude Test</button></a>
</div>

</div>

</body>
</html>
