<!DOCTYPE html>
<html>
<head>
    <title>AI Questions</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Admin</h3>
    <a href="/admin">Back</a>
</div>

<div class="main">

<div class="card">

<h2>AI Generated Questions</h2>

<pre>{{ content }}</pre>

<form method="POST" action="/save_ai">
    <input type="hidden" name="exam_id" value="{{ request.form['exam_id'] }}">
    <input type="hidden" name="content" value="{{ content }}">
    <button class="btn btn-success">Save</button>
</form>

</div>

</div>

</body>
</html>
