<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Exam System</h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<div class="card">

<h2>History</h2>

<table border="1" width="100%">
<tr>
    <th>Score</th>
    <th>Correct</th>
    <th>Wrong</th>
</tr>

{% for r in results %}
<tr>
    <td>{{ r[3] }}</td>
    <td>{{ r[4] }}</td>
    <td>{{ r[5] }}</td>
</tr>
{% endfor %}

</table>

</div>

</div>

</body>
</html>
