<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h3>Exam System</h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<h2>Exam</h2>

<form method="POST" action="/submit">

{% for q in questions %}
<div class="card" style="margin-top:15px;">
    <p><b>Q{{ loop.index }}: {{ q.question }}</b></p>

    {% for option in q.options %}
        <input type="radio" name="q{{ q.id }}" value="{{ option }}"> {{ option }}<br>
    {% endfor %}
</div>
{% endfor %}

<br>
<button class="btn btn-primary">Submit</button>

</form>

</div>

</body>
</html>
